{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bookmarks/style.css' %}" />

<div class="Title">
  <h1>Bookmarks</h1>
</div>

<div class="Site-Container">
  {% if bookmarks %}

  <h3>Public Bookmarks:</h3>
  <ul>
    {% for bookmark in bookmarks %}
    <li>
      <a href="{{bookmark.url}}">{{bookmark.name}}</a>
      <div class="Bookmark-Notes">{{bookmark.notes}}</div>
      <div class="Bookmark-Date">Created at {{bookmark.created_at}}</div>
    </li>
    {% endfor %}
  </ul>

  {% else %}
  You have no bookmarks
  {% endif %}


  <h3>Personal Bookmarks:</h3>
  {% if personal_bookmarks %}
  <ul>
    {% for bookmark in personal_bookmarks %}
    <li>
      <a href="{{bookmark.url}}">{{bookmark.name}}</a>
      <div class="Bookmark-Notes">{{bookmark.notes}}</div>
      <div class="Bookmark-Date">Created at {{bookmark.created_at}}</div>
    </li>
    {% endfor %}
  </ul>

  {% else %}
  You have no personal bookmarks
  {% endif %}

  <div class="Add-Bookmark">
    <h3>Add New Bookmark:</h3>
    <form method="POST" class="bookmark-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Save</button>
    </form>
  </div>

</div>
