<h1>Bookmarks</h1>

{% if bookmarks %}

Bookmarks:
<ul>
  {% for bookmark in bookmarks %}
  <li>
    <a href="{{bookmark.url}}">{{bookmark.name}}</a>
    <div>Created at {{bookmark.created_at}}</div>
    <div>{{bookmark.notes}}</div>
  </li>
  {% endfor %}
</ul>

{% else %}
You have no bookmarks
{% endif %}


Personal Bookmarks:
{% if personal_bookmarks %}
<ul>
  {% for bookmark in personal_bookmarks %}
  <li>
    <a href="{{bookmark.url}}">{{bookmark.name}}</a>
    <div>Created at {{bookmark.created_at}}</div>
    <div>{{bookmark.notes}}</div>
  </li>
  {% endfor %}
</ul>

{% else %}
You have no personal bookmarks
{% endif %}

